.section.group
  %h2
    Curves
  = select_tag :curves, :options => @curve_name, :selected => @curve_name.first, :id => "curves", :onchange => "getCurve(this)"
%h2{id: "bucket"} This is text
:javascript
  function getCurve(sel) {
    var value = sel.options[sel.selectedIndex].value;
    var name = value.substring(0,value.length - 4);
    console.log(value);
    //alert("This is an alert!")
    //document.getElementById("curves").value = value;
    document.getElementById("bucket").innerHTML = name;
  }