%p Which Curve?
%select
  %option{:name => "profit", :value => "profit"} Profitability
  %option{:name => "op_margin", :value => "op_margin"} Operating Margin
  %option{:name => "revenue", :value => "revenue"} Revenue
  %option{:name => "bookings", :value => "bookings"} Bookings
%p
  Achievement Percentage
%form{:action => "/", :method => "post"}
  %input{:name => "message", :type => "text"}
    %input{:type => "submit"}
%p
  Payout Percentage:
  %input#test3{:name => "pay_out", :type => "text", :value => @pay}/
  (%)

%table{:border => "0", :class => "curve_tab"}
  %tr
    %th Achievement
    %th Payout
  %div
    - @curve.each do |x,v|
      = "<tr><td> #{x} </td> <td>#{v}</td></tr>"