.group.group
  %h2 Calculate Payout
%section
  %div{:class => "section group"}
    %form{:action => "/", :method => "post", :name => "value_form"}
      %h3
        Achievement &#40;&#37;&#41;
      %input{:name => "message", :type => "number", :step => "any"}
        %input#showLeft{:type => "submit", :value => "Calculate"}
#entry.box.effect6
  %h4{:style => "padding-top: 5%;"}
    = "Evaluation point: #{@point}"
  .section.group
    .col.span_1_of_2
      %h4 Curve
    .col.span_1_of_2
      %h4 Payout &#40;&#37;&#41;
  - @curves.each do |k,v|
    .section.group
      .col.span_1_of_2
        = @curves[k].name.sub(".txt", "")
      .col.span_1_of_2
        = @val_pts[k]