%section
  %div{:class => "section group"}
    %form{:action => "/", :method => "post", :name => "value_form"}
      %h2
        Achievement Percentage &#40;&#37;&#41;
      %input{:name => "message", :type => "number", :step => "any"}
        %input#showLeft{:type => "submit", :value => "Calculate"}
      %h3
        Payout Percentage &#40;&#37;&#41;
%section
  %div{:class => "section group"}
    - @curves.each do |k,v|
      %div{:class => "col span_1_of_8"}
        = @curves[k].name.sub(".txt", "")
        %input#payout_val{:name => "payout_val", :type => "text", :value => @val_pts[k]}