!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title Commissions Home
        %meta{:content => "Blueprint: Payout Curve Calculations", :name => "description"}/
        %meta{:content => "compensation, payout, teired rates", :name => "keywords"}/
        %meta{:content => "Mike Young", :name => "author"}/
        %link{:href => "../favicon.ico", :rel => "shortcut icon"}
        %link{:href => "css/default.css", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "css/component.css", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "css/html5reset.css", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "css/8cols.css", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "css/col.css", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}/
        %script{:src => "js/modernizr.custom.js"}
        %script{:src => "//www.google.com/jsapi"}
        %script{:src => "js/chartkick.js"}
        %script{:src => "js/script.js"}
    / Load the AJAX API
  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
  :javascript
    // Combobox selection script to populate table
    function getComboA(sel) {
      var value = sel.options[sel.selectedIndex].value;
      console.log(value);

    }
  %body.cbp-spmenu-push
    %nav#cbp-spmenu-s1.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left
      %h3 Menu
      %a{:href => "/"} Payout Calculator
      %a{:href => "/tiles"} Curves
      %a{:href => "/contact"} Contacts
      %a{:href => "#"} Compensation Plan
      %a{:href => "#"} Deal Dashboard
      %a{:href => "#"} Payment Dashboard
    .container
      
      %header.clearfix
        %span Commissions Home
        %h1 Calculate your payment
      .main
        %section
          / Class "cbp-spmenu-open" gets applied to menu
          %button#showLeft Menu
        
        #content
          =yield
    / Classie - class helper functions by @desandro https://github.com/desandro/classie
    %script{:src => "js/classie.js"}
    :javascript
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
      	showLeft = document.getElementById( 'showLeft' ),
      	body = document.body;

      showLeft.onclick = function() {
      	classie.toggle( this, 'active' );
      	classie.toggle( menuLeft, 'cbp-spmenu-open' );
      	disableOther( 'showLeft' );
      };

      function disableOther( button ) {
      	if( button !== 'showLeft' ) {
      		classie.toggle( showLeft, 'disabled' );
      	}
      }