.section.group
  %h1 Curve Inspector
%section
  %div{:class => "section group"}
    %form{:action => "/tiles", :method => "post", :name => "curve_form"}
      %select{:name => "curve_list", :onchange => "getComboA(this)", :form => "curve_form"}
        - @curves.each_key do |k|
          %option{:value => k}
            = @curves[k].name.sub(".txt", "")
        %input#display_curve{:name => "display_curve", :type => "hidden", :value => ""}
          %input{:type => "submit", :value => "Display"}
%div{:class => "section group"}
  %h2
    = @curves[@sym].name.sub(".txt", "")
.section.group
  .col.span_1_of_2
    %h4 Achievement
  .col.span_1_of_2
    %h4 Payout &#40;&#37;&#41;
- @curves[@sym].int_data.each do |x,y|
  .section.group
    .col.span_1_of_2
      = x
    .col.span_1_of_2
      = y