%table
  %tr
    %td{:colspan => "5", :rowspan => "2"}
      #td_link_2
        %a{:href => "http://google.com"} link
    %td{:colspan => "2"}
      #td_link_1
        %a{:href => "http://google.com"} link
    %td{:colspan => "3"}
      #td_link_1
        %a{:href => "http://google.com"} link
  %tr
    %td{:colspan => "3"}
    %td{:colspan => "2"}
  %tr
    %td
      %a link
    %td
      %a link
    %td
      %a link
    %td
      %a link
    %td
      %a link
    %td
      %a link
    %td
    %td
    %td
    %td
